.sobre-edicoes-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    background-color: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
  .edicao-item {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 40px;

  }
  